* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #F4F5FB;
  --white: #FFFFFF;
  --brand: #CA3884;
  --brand-hover: #A52C6B;
  --text-primary: #080B12;
  --text-secondary: #374151;
  --border: #D1D5DB;
}

body{
  background-color: var(--bg-primary);
  font-family: "inter", sans-serif;
  color: var(--text-primary);
}

.container{
  width: 100%;
  max-width: 40em;
  margin: 0 auto;
  padding: 1.5rem;
}

/*HEADER*/
.header{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.back{
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 0.9rem;
}

/*FORM*/
 .item-form{
  display: flex;
  gap: 0.75rem;
  margin-top: 1.5rem;
 }

 .item-form input{
  flex: 1;
  padding: 0.6rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border);
 }


 .item-form button{
   padding: 0 1.5rem;
   border: none;
   border-radius: 0.5rem;
   background-color: var(--brand);
   color: white;
   cursor: pointer;
 }

 .item-form button:hover{
  background-color: var(--brand-hover);
 }

 /*List */

 .list {
  list-style: none;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
 }

 .list li{
  background: var(--white);
  padding: 0.6rem 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .list label{
  display: flex;
  align-items: center;
  gap: 0.5rem;
 }

 .remove{
  background: none;
  border: none;
  color: var(--brand);
  cursor: pointer;
 }